<%- include('../partials/header') %>

<!-- Contenedor principal -->
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <%- include('../partials/sidebar') %>

    <!-- Contenido principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Editar Carrera</h1>
      </div>

      <!-- Formulario para editar carrera -->
      <form action="/carreras/update/<%= carrera.id %>"method="POST"class="mt-4">
        <div class="form-group mb-3">
          <label for="nombre" class="form-label">Nombre de la carrera:</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            class="form-control"
            value="<%= carrera.nombre %>"
            required
          />
        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-success">Actualizar</button>
          <a href="/carreras" class="btn btn-secondary">Volver al listado</a>
        </div>
      </form>
    </main>
  </div>
</div>

<%- include('../partials/footer') %>
